---
import Layout from "../layouts/Layout.astro";
import CodeIcon from "../components/icons/Code.astro";
import MetodologiaIcon from "../components/icons/Metodologia.astro";
import VisualizadorIcon from "../components/icons/VisualizadorIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Arquitectura from "../components/Arquitectura.astro";
import Modelos from "../components/Modelos-DC.astro";
import Hero from "../components/Hero.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Models from "../components/icons/Models.astro";
import Visualizador from "../components/Visualizador.astro";
import Metodologia from "../components/Metodologia.astro";
import Resultados from "../components/Resultados.astro";
---

<Layout
  title="Ojos en la Selva: Detectando Cambios"
  description="Detectar deforestación en la Amazonía usando IA para analizar imágenes satelitales, contribuyendo a la conservación de la biodiversidad."
>
  <main class="px-4">
    <SectionContainer id="inicio" class="py-20 md:py-30">
      <Hero />
    </SectionContainer>
  </main>

  <div class="space-y-24">
    <SectionContainer id="proceso">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <MetodologiaIcon class="size-7" />
        Metodología
      </h2>
      <Metodologia />
    </SectionContainer>

    <SectionContainer id="arquitectura">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-8" />
        Arquitectura del Sistema
      </h2>
      <Arquitectura />
    </SectionContainer>

    <SectionContainer id="modelos-ia">
      <h2
        class="flex items-center mb-4 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Models class="size-8" />
        Modelos
      </h2>
      <Modelos />
    </SectionContainer>

    <SectionContainer id="visualizador">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <VisualizadorIcon class="size-8" />
        Visualizador
      </h2>
      <Visualizador />
    </SectionContainer> 

    <SectionContainer id="resultados">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Resultados
      </h2>
      <Resultados />
    </SectionContainer>

  </div>
</Layout>
