---

---

<div class="relative flex justify-center items-center h-full w-full">
  <div id="project-card" class="w-full overflow-auto relative p-2 box-border">
    <p>
      Al finalizar el desarrollo de este proyecto, se han identificado algunas
      limitaciones y posibles direcciones para trabajos futuros, las cuales se
      describen a continuación:
    </p>

    <ul class="list-disc ml-6">
      <li class="mt-3">
        <b>Limitación 1 - Nubosidad en las zonas:</b> Las áreas donde se capturaron
        las imágenes suelen estar nubladas la mayor parte del tiempo, lo que dificulta
        un análisis óptimo de las imágenes obtenidas por Sentinel-2. Para este proyecto,
        se logró recopilar imágenes de los meses de septiembre, octubre y noviembre
        de cada año, dado que en algunas épocas, meses enteros presentan condiciones
        de nubosidad persistente.
      </li>

      <li class="mt-3">
        <b>Limitación 2 - Escasez de imágenes etiquetadas:</b> Hay una limitación
        en la disponibilidad de conjuntos de datos con etiquetas específicas para
        entrenar modelos de aprendizaje profundo. Este proyecto desarrolló un dataset
        que identifica zonas de cambio, útil para modelos como BAN. Sin embargo,
        también se necesita una mayor cantidad de imágenes etiquetadas de Sentinel-2
        para tareas de clasificación de cobertura terrestre.
      </li>

      <li class="mt-3">
        <b>Limitación 3 - Acceso limitado a Pixel AI:</b> Pixel AI es una herramienta
        de inteligencia artificial que mejora la calidad de imágenes, pero debido
        a su costo, no fue posible optimizar la calidad de todas las imágenes para
        su uso en la red.
      </li>

      <li class="mt-3">
        <b>Trabajo futuro 1 - Adaptación de la red:</b> Mejorar la red para que acepte
        diferentes tipos de entradas y no solo imágenes a color, como es el caso
        de la BAN. Actualmente, la red acepta únicamente dos imágenes en color y
        devuelve una imagen con los cambios detectados, lo que requiere un preprocesamiento
        de las imágenes. Sería valioso incorporar capas adicionales para obtener
        una detección de cambios más detallada.
      </li>

      <li class="mt-3">
        <b>Trabajo futuro 2 - Entrenamiento en diversas zonas:</b> En este proyecto
        se utilizaron imágenes del cantón Sucúa, en la provincia de Morona Santiago.
        En el futuro, se podrían incluir otras regiones para reentrenar la red, permitiendo
        una mayor generalización de los conocimientos.
      </li>

      <li class="mt-3">
        <b>Trabajo futuro 3 - Expansión del sistema:</b> Actualmente, el sistema
        de visualización muestra la detección de cambios, pero se podría ampliar
        para incluir la detección de incendios, inundaciones u otros tipos de desastres
        naturales.
      </li>
    </ul>
  </div>
</div>
