---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    date: "Diciembre 2023",
    title: "Detección de cambios en imágenes satelitales con IA",
    company: "Universidad de Cuenca",
    description:
      "Como proyecto de grado, se estudió y reentrenó redes neuronales enfocadas en la detección de cambios en imágenes satelitales. Finalmente se desarrolló una aplicación que usa imágenes satelitales de Sentinel2 y dos redes neuronales profundas para detectar cambios y clasificarlos.",
    link: "https://github.com/KevinJuela20/Deteccion_Clasificacion_Cambios",
  },
  {
    date: "Agosto 2023",
    title: "Pasante de producción ",
    company: "Banco del Austro",
    description:
      "Manejo de la herramienta Elastic Search para la creación de patrones para procesar y estructurar logs de los diferentes microservicios desplegados en los servidores del Banco del Austro. Creación de dashboards para el monitoreo de los servidores.",
  },
];
---

<div class="relative flex justify-center items-center h-full w-full">
  <div id="experience-card" class="w-full h-[400px] md:h-[300px] overflow-hidden relative p-6 box-border">
    {EXPERIENCES.map((experience, index) => (
      <div class="experience-card  w-full h-full flex flex-col justify-between" data-index={index}>
        <ExperienceItem {...experience} />
      </div>
    ))}

    <!-- Botones de navegación dentro de la tarjeta -->
    <div class="absolute bottom-4 right-4 flex space-x-2 pr-4 pb-4">
      <button class="p-2 bg-gray-200 dark:bg-gray-500 rounded-full" id="prev-btn">
        &larr;
      </button>
      <button class="p-2 bg-gray-200 dark:bg-gray-500 rounded-full" id="next-btn">
        &rarr;
      </button>
    </div>
  </div>
</div>

<script>
  let currentIndex = 0;
  const experiences = document.querySelectorAll<HTMLDivElement>('.experience-card');
  const prevBtn = document.getElementById('prev-btn') as HTMLButtonElement;
  const nextBtn = document.getElementById('next-btn') as HTMLButtonElement;

  function showExperience(index: number) {
    experiences.forEach((card, i) => {
      card.classList.toggle('hidden', i !== index);
    });
  }

  prevBtn.addEventListener('click', () => {
    currentIndex = (currentIndex - 1 + experiences.length) % experiences.length;
    showExperience(currentIndex);
  });

  nextBtn.addEventListener('click', () => {
    currentIndex = (currentIndex + 1) % experiences.length;
    showExperience(currentIndex);
  });

  // Mostrar la primera experiencia por defecto
  showExperience(currentIndex);
</script>
