---

---

<div class="relative flex justify-center items-center h-full w-full">
  <div class="w-full overflow-auto relative p-2 box-border">
    <!-- Línea de tiempo -->
    <div class="border-l-4 ml-5 border-gray-300 relative">
      <!-- Paso 1: Selección de Fechas -->
      <div class="mb-10 ml-6">
        <div
          class="absolute w-8 h-8 bg-green-500 rounded-full -left-4 flex justify-center items-center"
        >
          <span class="text-white font-bold">1</span>
        </div>
        <h3 class="text-lg font-semibold text-gray-700 dark:text-white">
          Selección de zona y fechas para comparación
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          El usuario puede seleccionar una zona y dos fechas disponibles para
          visualizar las imágenes satelitales de diferentes momentos.
        </p>
      </div>

      <!-- Paso 2: Visualización de Imágenes Satelitales -->
      <div class="mb-10 ml-6">
        <div
          class="absolute w-8 h-8 bg-blue-500 rounded-full -left-4 flex justify-center items-center"
        >
          <span class="text-white font-bold">2</span>
        </div>
        <h3 class="text-lg font-semibold text-gray-700 dark:text-white">
          Visualización de Imágenes Satelitales
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          Luego de la selección de la zona y las fechas, se muestra las dos
          imágenes satelitales de alta resolución y los cambios detectados. Hay
          dos formas en las que se verán los cambios en las imágenes: Detección
          mediante inteligencia artificial, detección mediante el NDVI
        </p>
      </div>

      <!-- Paso 3: Detección y Clasificación de Cambios (AI) -->
      <div class="mb-10 ml-6">
        <div
          class="absolute w-8 h-8 bg-red-500 rounded-full -left-4 flex justify-center items-center"
        >
          <span class="text-white font-bold">3</span>
        </div>
        <h3 class="text-lg font-semibold text-gray-700 dark:text-white">
          Detección y Clasificación de Cambios (Mediante IA)
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          En el módulo AI muestra los resultados del uso de la BAN y la
          ResNet152V2 para la detección y clasificación automática de los
          cambios en el terreno respectivamente.
        </p>
      </div>

      <!-- Paso 4: Cálculo del NDVI -->
      <div class="ml-6 mb-10">
        <div
          class="absolute w-8 h-8 bg-yellow-500 rounded-full -left-4 flex justify-center items-center"
        >
          <span class="text-white font-bold">4</span>
        </div>
        <h3 class="text-lg font-semibold text-gray-700 dark:text-white">
          Detección de cambios (Mediante el NDVI)
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          El módulo NDVI calcula este índice para detectar cambios en la
          vegetación usando un análisis basado en píxeles.
        </p>
      </div>

      <!-- Paso 4: Cálculo del NDVI -->
      <div class="ml-6">
        <div
          class="absolute w-8 h-8 bg-purple-500 rounded-full -left-4 flex justify-center items-center"
        >
          <span class="text-white font-bold">5</span>
        </div>
        <h3 class="text-lg font-semibold text-gray-700 dark:text-white">
          Selección de nueva zona
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          Este apartado permite subir los archivos necesarios para poder subir
          una nueva zona y hallar los cambios que hay entre las diferentes
          fechas que se hayan descargado las imágenes.
        </p>
      </div>
    </div>
  </div>
</div>
