---
const personalImageAlt = "Hernán Coronel";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Mail from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
---

<div class="max-w-5xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full size-20 md:size-40 mb-2"
      src="/images/logo.png"
      alt="hernan"
    />

    <div class="flex flex-col">
      <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      >
        Ojos en la selva
      </h1>
      <br />
      <h6
        class="text-xl hidden md:block font-bold tracking-tight text-gray-800 sm:text-xl dark:text-white"
      >
        Detección de cambios en la Amazonía usando imágenes satelitales e
        inteligencia artificial.
      </h6>
    </div>
  </div>

  <h6
    class="text-xl md:hidden font-bold tracking-tight text-gray-800 sm:text-xl dark:text-white"
  >
    Detección de cambios en la Amazonía usando imágenes satelitales e
    inteligencia artificial.
  </h6>

  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    La Amazonía enfrenta una creciente deforestación impulsada por diversos
    factores, como la tala ilegal, la minería, y la expansión urbana y agrícola,
    lo que pone en peligro su biodiversidad. Para abordar este desafío, se
    propuso utilizar imágenes satelitales de Sentinel-2 mejoradas mediante
    técnicas de superresolución y el índice NDVI, con el fin de identificar las
    áreas afectadas. Se implementó un modelo de inteligencia artificial,
    reentrenado con datos específicos de la región, que automatiza la detección
    de cambios en la cobertura forestal. Esta solución permite un monitoreo
    continuo y preciso, proporcionando información clave para la protección de
    las zonas más vulnerables.
  </p>

  <h1
    class="mt-7 text-2xl font-bold tracking-tight text-gray-800 sm:text-2xl dark:text-white"
  >
    Team
  </h1>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill
      href="https://www.linkedin.com/in/hernan-jose-coronel-ramon-9062b1207/"
    >
      <img class="rounded-full size-12" src="/images/logo.png" alt="hernan" />
      Hernán Coronel
    </SocialPill>
    <SocialPill
      href="https://www.linkedin.com/in/hernan-jose-coronel-ramon-9062b1207/"
    >
      <img class="rounded-full size-12" src="/images/fernando.jpg" alt="hernan" />
      Kevin Juela
    </SocialPill>
    <SocialPill
      href="https://www.linkedin.com/in/hernan-jose-coronel-ramon-9062b1207/"
    >
      <img class="rounded-full size-12" src="/images/IngSaquicela (1).jpg" alt="hernan" />
      Víctor Saquicela
    </SocialPill>
    <SocialPill
      href="https://www.linkedin.com/in/hernan-jose-coronel-ramon-9062b1207/"
    >
      <img class="rounded-full size-12" src="/images/logo.png" alt="hernan" />
      Lucía Lupercio
    </SocialPill>
  </nav>
</div>
