---

---

<div class="relative flex justify-center items-center h-full w-full">
  <div class="w-full overflow-auto relative p-2 box-border">
    <h3 class="text-lg font-semibold text-gray-700 dark:text-white">
      Mejora de imágenes
    </h3>

    <div class="flex flex-col items-center">
      <div class="flex md:flex-row flex-col ">
        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] m-3 w-[270px]"
            src="/images/Resultados/A/2.png"
            alt=""
          />
          <b><p>Imagen A: Original</p></b>
        </div>        

        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] m-3 w-[270px]"
            src="/images/Resultados/Mejoradas/A/2.png"
            alt=""
          />
          <b><p>Imagen A: Mejorada</p></b>
        </div>
      </div>

      <div class="flex md:flex-row flex-col ">
        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] m-3 w-[270px]"
            src="/images/Resultados/B/2.png"
            alt=""
          />
          <b><p>Imagen B: Original</p></b>
        </div>        

        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] m-3 w-[270px]"
            src="/images/Resultados/Mejoradas/B/2.png"
            alt=""
          />
          <b><p>Imagen B: Mejorada</p></b>
        </div>
      </div>
    </div>

    <!--  -->
    <h3 class="mt-10 text-lg font-semibold text-gray-700 dark:text-white">
      Deteccion de cambios con la red vs salida esperada
    </h3>

    <div class="flex flex-col items-center">
      <div class="flex md:flex-row flex-col ">
        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] m-3 w-[270px]"
            src="/images/Resultados/Salida de la Red/2.png"
            alt=""
          />
          <b><p>Salida de la Red</p></b>
        </div>        

        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] m-3 w-[270px]"
            src="/images/Resultados/GroundTruth/2.png"
            alt=""
          />
          <b><p>Salida esperada</p></b>
        </div>
      </div>      
    </div>

    <!--  -->
    <h3 class="mt-10 text-lg font-semibold text-gray-700 dark:text-white">
      Deteccion de cambios por el NDVI
    </h3>

    <div class="flex flex-col items-center">
      <div class="flex md:flex-row flex-col ">
        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] m-3 w-[270px]"
            src="/images/Resultados/NDVI/2.png"
            alt=""
          />
          <b><p>Detección de Cambios por el NDVI</p></b>          
          <p>Morado: Sin cambios</p>          
          <p>Turquesa: De no vegetación a vegetación</p>          
          <p>Amarillo: De vegetación a no vegetación</p>
        </div>        
      </div>      
    </div>

  </div>
</div>
