---

---

<div class="relative flex justify-center items-center h-full w-full">
  <div class="w-full overflow-auto relative p-2 box-border">
    <h3 class="text-lg font-semibold text-gray-700 dark:text-white mb-3">
      Mejora de imágenes
    </h3>

    <div class="flex flex-col items-center">
      <div class="flex md:flex-row flex-col">
        <div class="flex flex-col  mr-3">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] w-[270px]"
            src="/images/Resultados/A/261A (1).png"
            alt=""
          />
          <div class="w-full pl-4 text-gray-800 transition bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 hover:text-white dark:hover:bg-gray-700 dark:hover:border-gray-500 dark:hover:text-yellow-300 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <p class="font-bold">Imagen A: Original</p>
            <p>Zona 6 - 15/08/2017</p>
            <p>Sentinel-2 (256x256 píxeles)</p>
          </div>
          
        </div>        

        <div class="flex flex-col">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] w-[270px]"
            src="/images/Resultados/Mejoradas/A/261MA.png"
            alt=""
          />
          <div class="w-full pl-4 text-gray-800 transition bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 hover:text-white dark:hover:bg-gray-700 dark:hover:border-gray-500 dark:hover:text-yellow-300 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <p class="font-bold">Imagen A: Mejorada</p>
            <p>Z6- 15/08/2017</p>
            <p>Pixelcut AI (1024x1024 píxeles)</p>
          </div>
        </div>
      </div>
      <br>
      <div class="flex md:flex-row flex-col">
        <div class="flex flex-col mr-3">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] w-[270px]"
            src="/images/Resultados/B/261B (1).png"
            alt=""
          />
          <div class="w-full pl-4 text-gray-800 transition bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 hover:text-white dark:hover:bg-gray-700 dark:hover:border-gray-500 dark:hover:text-yellow-300 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <p class="font-bold">Imagen B: Original</p>
            <p>Zona 6 - 13/10/2021</p>
            <p>Sentinel-2 (256x256 píxeles)</p>
          </div>
        </div>        

        <div class="flex flex-col">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] w-[270px]"
            src="/images/Resultados/Mejoradas/B/261MB.png"
            alt=""
          />
          <div class="w-full pl-4 text-gray-800 transition bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 hover:text-white dark:hover:bg-gray-700 dark:hover:border-gray-500 dark:hover:text-yellow-300 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <p class="font-bold">Imagen B: Mejorada</p>
            <p>Z6 - 13/10/2021</p>
            <p>Pixelcut AI (1024x1024 píxeles)</p>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <h3 class="mt-10 text-lg font-semibold text-gray-700 dark:text-white mb-3">
      Deteccion de cambios con la red <b>VS</b> salida esperada
    </h3>

    <div class="flex flex-col items-center">
      <div class="flex md:flex-row flex-col ">
        <div class="flex flex-col mr-3">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] w-[270px]"
            src="/images/Resultados/Salida de la Red/2.png"
            alt=""
          />
          <div class="w-full pl-4 text-gray-800 transition bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 hover:text-white dark:hover:bg-gray-700 dark:hover:border-gray-500 dark:hover:text-yellow-300 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <p class="font-bold py-4">Salida de la Red</p>
          </div>
        </div>        

        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] w-[270px]"
            src="/images/Resultados/GroundTruth/261label.png"
            alt=""
          />
          <div class="w-full pl-4 text-gray-800 transition bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 hover:text-white dark:hover:bg-gray-700 dark:hover:border-gray-500 dark:hover:text-yellow-300 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <p class="font-bold py-4">Salida esperada</p>
          </div>
        </div>
      </div>      
    </div>

    <!--  -->
    <h3 class="mt-10 text-lg font-semibold text-gray-700 dark:text-white">
      Deteccion de cambios por el NDVI
    </h3>

    <div class="flex flex-col items-center">
      <div class="flex md:flex-row flex-col ">
        <div class="flex flex-col items-center justify-center">
          <img
            class="lg:h-[350px] lg:w-[350px] md:h-[300px] md:w-[300px] h-[270px] w-[270px]"
            src="/images/Resultados/NDVI/184label2.png"
            alt=""
          />
          <div class="w-full pl-4 text-gray-800 transition bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-300 hover:border-gray-700 hover:text-white dark:hover:bg-gray-700 dark:hover:border-gray-500 dark:hover:text-yellow-300 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <p class="font-bold">Detección de Cambios por el NDVI</p>
            <p> <span class="bg-purple-800 text-purple-800">---</span> Morado: Sin cambios</p>          
            <p> <span class="bg-[#30678D] text-[#30678D]">---</span> Turquesa: De no vegetación a vegetación</p>          
            <p> <span class="bg-[#FDE724] text-[#FDE724]">---</span> Amarillo: De vegetación a no vegetación</p>
          </div>        
          
        </div>        
      </div>      
    </div>

  </div>
</div>
