---
---

<div class="relative flex justify-center items-center w-full">
    
    <div class="w-3/4 m-3">
        <video src="./videos/Sistema de visualización.mp4" controls autoplay muted loop></video>
    </div>
</div>